.json-view {
  font-family: "Courier New", Courier, monospace;
  font-size: 14px;
  line-height: 1.6;
  color: rgb(178, 56, 77);
  background-color: #f5f5f5;
  padding: 10px;
  overflow-x: auto;
  white-space: pre-wrap;
}

.json-key {
  color: #008000; 
}

.json-string {
  color: #a31515;
}

.json-number {
  color: #0000ff; 
}

.json-boolean {
  color: #0000ff; 
}

.json-null {
  color: #800080; 
}

.json-punctuation {
  color: #333; 
}