@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap");

:root {
  font-family: "Poppins", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.87);
  background-color: #ffffff;
  scroll-behavior: smooth;
}

button,
p {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

::-webkit-scrollbar {
  display: none;
}

.encoded-jwt::-webkit-scrollbar {
  display: block;
  width: 7px;
}

.encoded-jwt::-webkit-scrollbar-thumb {
  background-color: #bdbdbd;
  border-radius: 30px;
  cursor: pointer;
}

textarea {
  resize: none;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.custom-select {
  width: 100%;
  position: relative;
}

.selected-option {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.options-container {
  max-height: 150px;
  overflow-y: auto;
}

.option {
  padding: 8px;
}

.rotate-180 {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

@font-face {
  font-family: "Shoika";
  src: url("./assets/fonts/shoika-semi-bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

